*{
    font-family: 'Noto Sans JP', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg,#22223b,#656a8b)  ; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.head{
    color: aliceblue;
    font-size: xx-large;
}
.container{
    width: 80vw;
    max-width: 80%;
    height: auto;
    padding: 20px;
    background-color: #bbaeb9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: solid #22223b;
    border-width: 3px;  
    box-shadow: 0px 2px 3px 2px #22223b;
}
.score{
    font-size: x-large;
    font-weight: bold;
}
.content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ques{
    margin: 30px;
    color: #1b1b35;
    font-size: xx-large;
    font-weight: bold;
}
.btn{
    margin: 6px;
    align-items: center;
    border-radius:  5px;
    background-color: #22223b;
    color: aliceblue;
    font-size: large;
    padding: 5px;
}    
.btn:hover{
    background-color: #4a4e69;
    border: 2px solid #22223b;
    box-shadow: 0px 2px 3px 2px #22223b;
    cursor: pointer;
}    
.hide{
    display: none;
}     

#total_score{
    color: rgb(4, 4, 39);
}
#user_score{
    color: #22223b;
}

.anim{
    animation-name: result;
    animation-duration: 2s;
    color: aliceblue ;         
}
.xyz{
    opacity: 0%;
}
@keyframes result{
    0%{
        opacity: 0%;
        font-size: small;
    }
    50%{
        opacity: 100%;
        font-size: xx-large;
    }
    100%{
        opacity: 0%;
        font-size: small;
    }
}
