*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Open sans", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p{
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 25px;
}
.container{
    width: 100%;
    height: 100%;
    background: white;
    border: transparent;
    border-radius: 20vmax;
}
.navbar{
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: darkcyan;
    display: flex;
    border-radius: 20px;
    justify-content: center;
}
.logo{
    align-self: center;
    position: relative;
    display: flex;
    height: 8vh;
    width: 15vw;
    border-radius: 20px;
}
.hero{
    width: 100%;
    top: 10vh;
    height: 100%;
    position: relative;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
}
.quote{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    line-height: 1.75;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-size: 5vh;
    font-family: Verdana;
    color: white;
}
h3,h4{
    font-size: 10vh 10vw;
}
h2{
    text-align: center;
    padding: 5% 5% 0 0 ;
}
.wallpaper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    text-align: center;
    padding: 5% 5% 0 0;
    font-weight: bolder;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5 5 5 5;
}
.row-image{
    padding: 5px;
    width: 400px;
}
button{
    display: inline;
    padding: 5 10 0 0;
    background-color: darkcyan;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
}
.wallpaper-item{
    display: flex;
    flex-direction: column;

}
a{
    text-decoration: none;
    color: whitesmoke;
}