{% extends 'base.html' %}

{% block content %}		
<section class = "right">
			<h2>College Teams</h2>
			<p>This is not meant to be a comprehensive list of all the teams, just a sampling from around the United States.  I focused on the ones that I though had cools names.</p>
			<table>
				<tr><th>Team Name</th>
					<th>Location</th>
					<th>League Type</th></tr>
				<tr>
					<td>Afterburn - Air Force</td>
					<td>Colorado</td>
					<td>Men's</td>
				</tr>
				<tr>
					<td>Cold Front (Bates College)</td>
					<td>Maine</td>
					<td>Women's</td>
				</tr>
				<tr>
					<td>Disco Inferno (Brown University)</td>
					<td>Rhode Island</td>
					<td>Women's</td>
				</tr>
				<tr>
					<td>Bad Habit (Catholic University)</td>
					<td>Washington DC</td>
					<td>Men's</td>
				</tr>
				<tr>
					<td>Jive Turkeys (Dickinson College)</td>
					<td>Pennsylvania</td>
					<td>Both</td>
				</tr>
				<tr>
					<td>Knights of the Round Disc(Longwood College)</td>
					<td>Virginia</td>
					<td>Men's</td>
				</tr>
				<tr>
					<td>Ninjas (University of Minnesota)</td>
					<td>Minnesota</td>
					<td>Women's</td>
				</tr>
				<tr>
					<td>Flying Squirrels (Hendrix College)</td>
					<td>Arizona</td>
					<td>Men's</td>
				</tr>
				<tr>
					<td>Superfly (Yale)</td>
					<td>Connecticut</td>
					<td>Men's</td>
				</tr>
				<tr>
					<td>Flywheel (University of Michigan</td>
					<td>Michigan</td>
					<td>Women's</td>
				</tr>
			</table>
		</section>
{% endblock %}
