body {
    background-color: #111010; 
}
 
.grid {

    margin-top: 30px;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 3px solid #cbcbcb;
    box-shadow: rgb(71, 70, 70);
    border-radius: 7px;
    
}
 
.grid h1 {
    font-family: "sans-serif";
    background-color: #2cc5e0;
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 2px 0px;
    
}
 

 
#btn0, #btn1, #btn2, #btn3 {
    background-color: #19c8fd;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    border-radius: 7px;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #dfeaee;
    color:black;
    
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
 
#progress {
    color: #2b2b2b;
    font-size: 18px;
}
#score {
    color: #0b0c0c;
    text-align: center;
    font-size: 30px;
    
}
 
.grid #question {
    font-family: "monospace";
    font-size: 30px;
    color: #000000;
}
 
.buttons {
    margin-top: 30px;
}