.bg-pink{
    background-color:red;
}
.color-pink
{
    color: red;
}
html,
body{
    font-family: 'Poppins', sans-serif;
}

#main-home{
    width:100%;
    min-height: 650px;
    background:url(../img/bg-home.jpg);
    background-size: 100% 100%;
}
.btn-theme
{
    background-color: red;
    padding: 10px 20px;
    color: blanchedalmond;
}
.btn-theme:hover
{
    
  box-shadow: 0px 0px 0px 4px rgba(255,0,70,0.5),0px 0px 0px 7px rgba(255,0,70,0.3);
    color: blanchedalmond;
}


#main-home .header-top .item a{
    color:black;
}
#main-home .header-top .item a:hover{
    color: #ff004d;
}
#main-home .navbar .nav-item{
    padding: 0 15px;
}
#main-home .navbar .nav-item .nav-link
{
    color: black;
}
#main-home .navbar .nav-item .nav-link:hover
{
    color:red;
}
#main-home .navbar .cart-icon{
    color: blanchedalmond;
    padding: 5px 10px;
    border-radius: 5px;
}
#main-home #banner-slider .owl-carousel .owl-nav button{
    position: absolute;
    top: 30%;
    outline: none;
}
#main-home #banner-slider .owl-carousel .owl-nav button.owl-prev{
    left: 0;
}

#main-home #banner-slider .owl-carousel .owl-nav button.owl-next{
    right: 0;
}

#main-home #banner-slider .owl-carousel .owl-nav button span{
    font-size: 56px;
    padding: 0 1rem;
    color: red;

}
#main-home #banner-slider .owl-carousel .owl-nav button.owl-prev span{
    margin-left:-5rem;
}

#main-home #banner-slider .owl-carousel .owl-nav button.owl-next span{
    margin-right:-5rem;
}
#main-home #banner-slider .owl-carousel .owl-dots{
    position: absolute;
    bottom:-6rem;
    left: 50%;
    transform: translate(-50%);
}

#main-home #banner-slider .owl-carousel .owl-dots button span{
   background-color:grey;
   padding: 6px !important;
}
#main-home #banner-slider .owl-carousel .owl-dots button.active span{
    background-color:red;
 }
/*responsive*/
@media only screen and (max-width:580px){
    #main-home .header-top {
    flex-direction:column;
}
#main-home {
    padding: 20px;
}
#main-home #banner-slider{
    width: 95%;
    margin: auto;

}
#main-home #banner-slider .owl-carousel .owl-nav button{
    display: none;
}
#main-home #banner-slider .owl-carousel .owl-dots {
   bottom: -1rem;;
 }
}