.container{
    width: 100%;
    margin: 100px auto;
    background: #fff;
    border: 1px transparent;
    border-radius: 20px;
}

.hero-image{
    width: 100%;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

