@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
}

body{
    background: linear-gradient(to right, #f6490f,#f27813,#ef9614);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width:80vw;
    max-width: 80%;
    background-color: beige;
    height:70vh;
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
}

.score{
    font-size: large;
    font-weight: bold;
}

#user-score{
    color: #ef9614;
}

#total-score{
    color: #f6490f;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    font-size:large;
    font-weight: bold;
    box-shadow: 0 6px 12px -2px rgba(#f27813,.15);
    background: #ef9614;
    border-radius: 4px;
    padding: 10px;
    color: beige;
    margin: 6px;
    cursor: pointer;
}

.btn:hover{
    color: black;
    padding: 15px;
}

.options{
    padding: 10px;
    order: 3;
}

.controls{
    padding: 10px;
    order: 4;
}

.hide{
    display: none;
}